/*
 * This file is part of the Dash-To-Panel extension for Gnome 3
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 *
 * Credits:
 * This file is based on code from the Dash to Dock extension by micheleg
 * and code from the Taskbar extension by Zorin OS
 * Some code was also adapted from the upstream Gnome Shell source code.
 */

#taskbarScrollview .dash-item-container > StWidget {
	padding: 0;
	margin: 0 8px;
}

#taskbarScrollview .app-well-app .overview-icon {
	border-radius: 0;
	padding: 8px;
	border: none;
}

#taskbarScrollview .app-well-app-running-dot {
	margin-bottom: 0;
}

#thumbnailPreviewScrollview,
#taskbarScrollview {
	-st-hfade-offset: 48px;
}

.taskbarSecondaryMenu {
	max-width: 400px;
}

#thumbnailPreviewList {
	spacing: 0em;
	padding: 0 1em;
}

#thumbnailPreviewList .popup-menu-item {
	padding: 1em;
	border-radius: 5px;
	spacing: 0;
}

#thumbnailPreviewList .window-box {
	padding: 0;
	spacing: 0;
}

#thumbnailPreviewList .preview-window-title {
	padding-top: 1em;
}

.popup-menu.panel-menu {
    margin-bottom: 0;
}

#panel #panelLeft, #panel #panelCenter {
	spacing: 0px; 
}