/*
 * This file is part of the Dash-To-Panel extension for Gnome 3
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 *
 * Credits:
 * This file is based on code from the Dash to Dock extension by micheleg
 * and code from the Taskbar extension by Zorin OS
 * Some code was also adapted from the upstream Gnome Shell source code.
 */

#dashtopanelScrollview .dash-item-container > StWidget {
	padding: 0;
	margin: 0 8px;
}

#dashtopanelScrollview .app-well-app .overview-icon {
	border-radius: 0;
	padding: 8px;
	border: none;
}

#dashtopanelScrollview .app-well-app .overview-label {
	padding-right: 8px;
}

#dashtopanelScrollview .app-well-app:hover .overview-icon,
#dashtopanelScrollview .app-well-app:focus .overview-icon {
	background: none;
}

#dashtopanelScrollview .app-well-app:hover > :first-child,
#dashtopanelScrollview .app-well-app:focus > :first-child {
	background-color: rgba(238, 238, 236, 0.1);
}

#dashtopanelScrollview .app-well-app-running-dot {
	margin-bottom: 0;
}

#dashtopanelThumbnailScrollview,
#dashtopanelScrollview {
	-st-hfade-offset: 48px;
}

.dashtopanelSecondaryMenu {
	max-width: 400px;
}

#dashtopanelThumbnailList {
	spacing: 0em;
	padding: 0 1em;
}

#dashtopanelThumbnailList .popup-menu-item {
	padding: 1em;
	border-radius: 5px;
	spacing: 0;
}

#dashtopanelThumbnailList .window-box {
	padding: 0;
	spacing: 0;
}

#dashtopanelThumbnailList .preview-window-title {
	padding-top: 1em;
}

.popup-menu.panel-menu {
    margin-bottom: 0;
}

#panel #panelLeft, #panel #panelCenter {
	spacing: 0px; 
}

.showdesktop-button {
	width: 4px;
	border: 1px solid rgba(200, 200, 200, .2);
	border-top-width: 0;
	border-right-width: 0;
	border-bottom-width: 0;
}

.showdesktop-button-hovered {
	background-color: rgba(200, 200, 200, .4);
}

.number-overlay {
        background-color: rgba(0,0,0,0.8);
        color: rgba(256, 256, 256, 1);
        text-align: center;
}
